<%- include('./_head.ejs', { id: null, page: 'register' }) %>
<div class="card responsive">
<h2 class="title">회원 가입</h2>
<div class="progressBar-container">
  <ul class="progressbar">
    <li class="<% if(step < 2 || step > 4) { %>active<%} else if(step > 1 && step <= 4) {%>completed<% } %>">
      <div class="progress-text">이용약관 동의</div>
    </li>
    <li class="<% if(step === 2) { %>active<% } else if(step > 2 && step <= 4) { %>completed<% } %>">
      <div class="progress-text">소셜 계정 연동</div>
    </li>
    <li class="<% if(step === 3) { %>active<% } else if(step > 3 && step <= 4) { %>completed<% } %>">
      <div class="progress-text">계정 정보 입력</div>
    </li>
    <li>
      <div class="progress-text">가입 완료!</div>
    </li>
  </ul>
</div>
<main>
  <% if(step < 2 || step > 4) { %>
  <form method="post">
    <label for="agree-all" class="right">아래 내용을 읽어보았으며 모두 동의합니다.</label>
    <input type="checkbox" id="agree-all" class="right">
    <br><br>
    <label>이용 약관</label>
    <label for="tos-agree" class="right">이용약관에 동의합니다.</label>
    <input type="checkbox" name="tos" id="tos-agree" class="right">

    <textarea class="default-text" style="height: 200px" disabled><%= tos %></textarea>
    <label>개인정보 처리방침</label>
    <label for="privacy-agree" class="right">개인정보 처리방침에 동의합니다.</label>
    <input type="checkbox" name="privacy" id="privacy-agree" class="right">

    <textarea class="default-text" style="height: 200px" disabled><%= privacy %></textarea>
    <button type="submit">다음</button>
  </form>
  <% } else if(step === 2) { %>
  <p>아래 서비스 중 하나를 선택하여 계정을 연동해 주세요. 이것은 향후 비밀번호를 찾을 때 사용될 수 있습니다.<br>연동한 계정 및 서비스는 나중에 바꿀 수 있습니다.</p>
  <form method="post">
    <div class="card">
      <p>디스코드</p>
      <% if(discordAuth == null) { %>
      <a href="/register/discord" class="btn btn-discord">Login</a>
      <% } else { %>
      <span style="color: blue;"><%= discordAuth.username %>#<%= discordAuth.discriminator %> (<%= discordAuth.id %>)</span>로 로그인되어 있어요. <a href="/register/discord">당신이 아닌가요?</a>
      <% } %>
    </div>
    <button type="submit"<% if(discordAuth == null || typeof discordAuth !== 'object') { %> disabled<% } %>>다음</button>
  </form>
  <% } else if(step === 3) { %>
  <form method="post">
    <label for="uname">사용자 이름</label>
    <input type="text" name="uname" id="uname" placeholder="새로 가입할 사용자 이름 입력" required>
    <label for="pw">패스워드</label>
    <input type="password" name="password" id="pw" placeholder="패스워드 입력" required>
    <label for="pwchk">패스워드 확인</label>
    <input type="password" id="pwchk" placeholder="패스워드 다시 입력" required>
    <button type="submit">가입하기!</button>
  </form>
  <% } else if(step === 4) { %>
  <% } %>
</main>
</div>

<%- include('./_tail.ejs') %>
